<div class="about-content">
  <h1>About This Listing</h1>
  <% var description = listing.escape("description") ? isting.escape("description") : "The guest apartment has its own entrance located on the ground level of our home. The private apartment is 720 sq and has 8 ft ceilings. The living room and kitchen are new and the bath and the two bedrooms are remodeled."%>
  <p><%= description %></p>

  <div class="about-img">
    <img src='<%= image ? image.escape("url") : "/assets/user_image_placeholder.jpg" %>'>
  </div>
</div>
