<div class="listing-item-img">
  <div class="listing-item-price"><h6>$</h6><span class="price"><%= listing.get("price") %></span></div>


</div>
<div class="listing-item-description-div">
  <div class="listing-item-description"><a href="#/listings/<%= listing.id %>"><%= listing.escape("address") %></a></div>
</div>
