<div class="container new-page-heading">
  <h1>List Your Space</h1>
  <p>Make some pokecash by renting your place.</p>
</div>
<div class="new-form-group">
  <form class="new-form">
    <div class="container">
      <label for="listing_hometype">Home Type</label>
    </div>
    <div class="container">
      <label for="listing_roomtype">Room Type</label>
    </div>
    <div class="container">
      <label for="listing_accomodates">Accomodates</label>
    </div>
    <div class="container">
      <label for="listing_address">City</label>
    </div>
  </form>
</div>
