<div class="container new-page-heading">
  <h1>List Your Space</h1>
  <p>Make some pokecash by renting your place.</p>
</div>
<div class="new-form-group">
  <form class="new-form">
    
  </form>
</div>
