<div class="container new-page-heading">
  <h1>List Your Space</h1>
  <p>Make some pokecash by renting your place.</p>
</div>

<div class="new-form-group">
  <form class="new-form">

    <div class="container">
      <div class="hometype-label new-label">Home Type</div>
      <div class="hometype-btn-group" role="group" aria-label="...">
        <button type="button" class="btn" data-home="full_house">Full House</button>
        <button type="button" class="btn" data-home="apartment">Apartment</button>
        <button type="button" class="btn" data-home="bed_breakfast">Bed & Breakfast</button>
      </div>
    </div>

    <div class="container">
      <div class="roomtype-label new-label">Room Type</div>
      <div class="roomtype-btn-group" role="group" aria-label="...">
        <button type="button" class="btn" data-room="entire_room">Entire Room</button>
        <button type="button" class="btn" data-room="private_room">Private Room</button>
        <button type="button" class="btn" data-room="shared_room">Shared Room</button>
      </div>
    </div>

    <div class="container">
    <div class="roomtype-label new-label">Accomodates</div>
      <select id="select-accomodates-option">
        <% _.times(16, function(n){ %>
          <option value=<%= n + 1 %>><%= n + 1 %> Guest</option>
        <% }) %>
      </select>
    </div>

    <div class="container">
      <div class="date-label new-label">Dates</div>
      <input type="text" id="date-avail-new" placeholder="Date Available" class="btn">
      <input type="text" id="date-end-new" placeholder="Date End" class="btn">
    </div>

    <div class="container">
      <button type="button" id="select-pictures" class="btn">Select Picture</button>
      <div class="img-preview">
      </div>
    </div>

    <div class="container">
      <div class="address-label">Address</div>
      <input type="text" class="form-control" id="address-search" placeholder="Where is your listing?">
    </div>

    <div class="container">
      <div class="price-label">Price (USD)</div>
      <input type="number" class="form-control" id="new-price" placeholder="Price">
    </div>

    <div class="container">
      <button class="btn create-listing-btn disabled" disabled>Create Listing</button
    </div>
  </form>
</div>
