<div class="labels">
  <span class="check-in-label">Check In</span>
  <span class="check-out-label">Check Out</span>
  <span class="guests-label">Guests</span>
</div>

<input type="text" name="" id="check-in-select" placeholder="MM/DD/YYYY" class="btn">
<input type="text" id="check-out-select" placeholder="MM/DD/YYYY" class="btn">

<select id="select-accomodates">
  <% if (listing.get("accomodates")) {%>
     <% _.times(listing.get("accomodates"), function(n){ %>
      <option value=<%= n + 1 %>><%= n + 1 %></option>
    <% }) %>
  <% } %>
</select>

<button class="book-button">Select Dates/Guests</button>
