<div id="main">
</div>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
<script>
  $(function(){
    Pokevisit.currentUserId = <%= current_user.id %>
    Pokevisit.initialize();
  })
</script>
