<div class="reservations-header">
  <img class="listings-pokeball" src="/assets/pokeball_listings.png"><h1 class="reservationh1">All your reservations</h1>
</div>

<div class="reservations-index">

</div>
