<div class="date-label filter-label"><img class="filter-pokeball" src="/assets/pokeball_listings.png">Dates</div>
<div id="date"></div>
<div class="filter-choices">
  <input type="text" id="check-in-filter" placeholder="Check In" class="btn">
  <input type="text" id="check-out-filter" placeholder="Check Out" class="btn">
  <select id="select-accomodates-filter">
    <% _.times(16, function(n){ %>
      <option value=<%= n + 1 %>><%= n + 1 %> Guest</option>
    <% }) %>
  </select>
</div>
