<div class="slider-label filter-label"><img class="filter-pokeball" src="/assets/pokeball_listings.png">Price Range</div>
<div id="slider"></div>
<span id="low-slider-price">$ 0</span>
<span id="high-slider-price">$ 1000</span>
