<div class="room-label filter-label">Price Range</div>
<div class="check-boxes">
  <label>
    <input type="checkbox" value="entire_room">
  </label>

  <label>
  <input type="checkbox" value="private_room"></label>

  <label>
  <input type="checkbox" value="shared_room"></label>
  <div class="label-images">
    <span class="entire_room">Entire Room<img src="/assets/house.png" class="house-img"></span>
    <span class="private_room">Private Room<img src="/assets/private.png"></span>
    <span class="shared_room">Shared Room<img src="/assets/couch.png"></span>
  </div>
</div>
