<div class="room-label filter-label"><img class="filter-pokeball" src="/assets/pokeball_listings.png">Locations</div>
<div class="check-boxes">
  <label>
    <input type="checkbox" value="water" data-labelauty="Water">
  </label>

  <label>
    <input type="checkbox" value="plains" data-labelauty="Plains">
  </label>

  <label>
    <input type="checkbox" value="city" data-labelauty="City">
  </label>
</div>
