<div class="room-label filter-label">Room Types</div>
<div class="check-boxes">
  <label>
    <input type="checkbox" value="house" data-labelauty="House">
  </label>

  <label>
    <input type="checkbox" value="plains" data-labelauty="Plains">
  </label>

  <label>
    <input type="checkbox" value="city" data-labelauty="City">
  </label>
</div>
