<div class="check-boxes">
  <label>
    <input type="checkbox" value="trouble coffee">Trouble Coffee
  </label>
  <label>
  <input type="checkbox" value="cup">Cup
  </label>
  <label>
  <input type="checkbox" value="shared_room">Shared Room
  </label>
</div>
