<div class="room-label filter-label">Room Types</div>
<div class="check-boxes">
  <label>
    <input type="checkbox" value="entire_room" data-labelauty="Entire Room">
  </label>

  <label>
    <input type="checkbox" value="private_room" data-labelauty="Private Room">
  </label>

  <label>
    <input type="checkbox" value="shared_room" data-labelauty="Shared Room">
  </label>
</div>
