<div class="room-label filter-label">Room Types</div>
<div class="check-boxes">
  <label>Entire Room<img src="/assets/house.png" class="house-img">
    <input type="checkbox" value="entire_room">
  </label>

  <label>Private Room<img src="/assets/private.png">
  <input type="checkbox" value="private_room"></label>

  <label>Shared Room<img src="/assets/couch.png">
  <input type="checkbox" value="shared_room">
  </label>
</div>
