/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
}

nav.navbar{
  //transparent background
  background-color: rgba(0, 0, 0, 0);
  border-style:none;
}

.navbar .nav > li > a {
  //links on right of navbar
  color: black;
}

.navbar .navbar-header > a {
  //brand name
  color: black;
}
a.navbar-brand{
  position:relative;
  width:200px;
}

img.brand{
  width:30px;
  position:absolute;
  top:10px;
}
a.navbar-brand{
  padding-right:0;
  width:150px;
}
a.navbar-brand span{
  position:absolute;
  font-size:23px;
  left:47px;
}

.navbar-form .form-control{
  position:relative;
  width:260px;
  height:80%;
  padding-left:25px;
}

.navbar-form .glyphicon{
  z-index:3;
  position:absolute;
  top:17px;
  left:170px;
}

// Main page
div.sidebar{
  border:1px black solid;
  position:fixed;
  top:50px;
  right:0px;
  width:60%;
  overflow-y:scroll;
}

ul.listings{
  padding-left:0;
}
//listing index
li.listing-item{
  list-style:none;
  display:inline-block;
  width:50%;
  border:1px black solid;
}

div.map-view{
  position:fixed;
  top:50px;
  left:0;
  bottom:0;
  width:40%;
  height:100%;
}

div#map-canvas{
  position:absolute;
  width:100%;
  overflow:hidden;
  background-color:rgb(229, 227, 223);
  height:100%;
}

div.filter{
  width:100%;
  border:1px black solid;
}
