/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
}

nav.navbar{
  //transparent background
  background-color: rgba(0, 0, 0, 0);
  border-style:none;
}

.navbar .nav > li > a {
  //links on right of navbar
  color: black;
}

.navbar .navbar-header > a {
  //brand name
  color: black;
}
a.navbar-brand{
  position:relative;
  width:200px;
}

img.brand{
  width:30px;
  position:absolute;
  top:10px;
}

a.navbar-brand span{
  position:absolute;
  font-size:23px;
  left:47px;
}

// Main page
div.sidebar{
  border:1px black solid;
  position:fixed;
  top:50px;
  right:0px;
  width:60%;
  overflow-y:scroll;
}
