/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery.nouislider.min
 *= require datepicker
 *= require bootstrap-select.min
 *= require jquery-labelauty
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family: 'Source Sans Pro', sans-serif;
}

nav.navbar{
  //transparent background
  background-color: rgba(0, 0, 0, 0);
  border-style:none;
  border-bottom:1px solid #E4E6E3;
}

.navbar .nav > li > a {
  //links on right of navbar
  color: black;
}

.navbar .navbar-header > a {
  //brand name
  color: black;
}

img.brand{
  width:30px;
  position:absolute;
  top:10px;
}
a.navbar-brand{
  position:relative;
  width:200px;
  padding-right:0;
  width:150px;
}
a.navbar-brand span{
  font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:470;
  color:#ff5a5f;
  position:absolute;
  font-size:23px;
  left:47px;
}
img.header-img{
  display:inline;
  border-radius:50%;
  margin-top:8px;
  width:65%;
  height:65%;
}
.navbar .nav > li > a.dropdown-toggle{
  color:#565a5c;
  padding-left:0px;
}
.navbar-form .form-control{
  position:relative;
  width:260px;
  height:80%;
  padding-left:25px;
}

.navbar-form .glyphicon{
  z-index:3;
  position:absolute;
  top:17px;
  left:170px;
}

div.main-nav ul{
  right:0;
}

// Main page
div.sidebar{
  border-left:0.5px solid #E4E6E3;
  position:fixed;
  top:50px;
  right:0px;
  width:60%;
  bottom:0;
  height:auto;
  overflow-y:scroll;
}

ul.listings{
  padding-left:0;
}
//listing index
li.listing-item{
  list-style:none;
  display:inline-block;
  width:46%;
  margin:10px;
}

div.listings-index{
  height:auto;
  right:0;
  bottom:0;
  background:#f5f5f5;
}

div.map-view{
  position:fixed;
  top:50px;
  left:0;
  bottom:0;
  width:40%;
  height:100%;
}

div#map-canvas{
  position:absolute;
  width:100%;
  overflow:hidden;
  background-color:rgb(229, 227, 223);
  height:100%;
}

div.filter{
  width:100%;
  height:80px;
  position:relative;
  margin-bottom:30px;
  padding:20px;
  color:#565a5c;
  border-top:1px solid #dce0e0;
  border-color:rgba(220,224,224,0.5);
}

div#slider{
  position:absolute;
  height:10%;
  width:60%;
  margin-left:165px;
  top:30px;
}

div.slider-label{
  position:absolute;
  top:30px;
}

span#low-slider-price{
  position:absolute;
  top:53px;
  left:175px;
}

span#high-slider-price{
  position:absolute;
  top:53px;
  right:128px;
}

div.noUi-connect{
  background:#F64747;
}

//date filter stuffs
div.filter.date-filter{
  display:block;
  position:relative;
}
div.date-label{
  display:inline-block;
}
div.filter-choices{
  position:absolute;
  width:60%;
  left:195px;
  top:20px;
  display:inline-block;
}

div.filter-choices input{
  border:1px solid transparent;
  border-color:#CCCCB6;
  width:30%;
  height:35px;
  margin-right:15px;
}




a#list-your-place{
  display:block;
  border-color:#007a87;
  border-bottom-color:#004f58;
  background-color:#007a87;
  color:#fff;
  height:30px;
  border-radius:2px;
  margin-right:15px;
  margin-top:9px;
  font-size:17px;
  padding-top:4px;
}
//new page below
div.new-page-heading{
  color:#565a5c;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

div.new-page-heading h1{
  font-weight:normal;
  font-size:32px;
  margin-top:43px;
  margin-bottom:10px;
}

div.new-page-heading p{
  font-size: 16px;
  margin-bottom:30px;
}

div.new-form-group{
  margin-top:30px;
  background:#f5f5f5;
  height:auto;
}

div.new-form-group form.new-form{
  margin:0 auto;
}

div.filter-label{
  color:#565a5c;
  font-size:15px;
}

//btn groups useful for forms

.btn-group > .btn:first-child{
  color:#565a5c;
  width:170px;
  top:0px;
}

.btn-group > .btn{
  color:#565a5c;
  width:100px;
}

//check boxes
div.check-boxes{
  width:60%;
  position:absolute;
  left:195px;
}

div.check-boxes > label{
  width:32%;
  height:75px;
}

div.room-label.filter-label{
  display:inline-block;
  position:absolute;
}

li.listing-item{
  height:250px;
}

div.listing-item-img{
  position:relative;
  border:1px solid transparent;
  background:no-repeat;
  border-color:#CCCCB6;
  background-size: cover;
  background-position: center center;
  height:100%;
  width:100%;
  margin-left:20px;
}
div.listing-item-img:hover{
  cursor:pointer;
}

div.listing-item-img div.listing-item-price{
  width:60px;
  color:#fff;
  background-color:rgba(60,63,64,0.9);
  position:absolute;
  bottom:30px;
  padding: 0px 10px;
}
div.listing-item-img div.listing-item-price h6{
  display:inline-block;
}
div.listing-item-img div.listin-item-price span.price{
  font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:20px;
}

div.listing-item-description{
  margin-left:20px;
}

div.listing-item-description a{
  text-decoration:none;
  font-size:14px;
  color:#565a5c;
  font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left:0px;
}

div.carousel-inner{
  height:540px;
}

div.carousel-inner div.item{
  width:100%;
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel-control.left, .carousel-control.right{
  background-image:none;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
  color:black;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev{
  color:black;
}

.glyphicon-chevron-left:before, .glyphicon-chevron-right:before{
  font-size:70px;
  font-weight:normal;
  font-color:rbga(255,255,255,1);
}


nav.navbar.navbar-default{
  margin-bottom:0;
}

.noUi-base:hover{
  cursor:pointer;
}

.noUi-handle.noUi-handle-lower:hover, .noUi-handle.noUi-handle-upper:hover{
  cursor: pointer;
}
div.btn-group.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
  width:30%;
}
div.filter-choices div.btn-group > .btn:first-child{
  width:100%;
}

div#slider{
  margin-left:0;
  left:195px;
}
