<div id="footer" class="container">
  <div class="row">
    <h2>This site was built using Ruby on Rails for Backend and Backbone.js for Frontend by Auster Chen</h2>
    <h2>Contact Auster @ (650)703-9215, Auster.s.chen@gmail.com</h2>
  </div>
</div>
