<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/main"><img class="brand" src="assets/pokeball.png"><span>Pokevisit</span></a>
      <% if logged_in? %>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <span class="glyphicon glyphicon-search"></span>
          <input type="text" class="form-control" id="form-search" placeholder="Where are you going?">
        </div>
      </form>

      <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
      <li>
        <img class="header-img" src="https://a2.muscache.com/defaults/user_pic-50x50.png?v=2">
      </li>


      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><%= button_to "Sign out", session_url, method: :delete %></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>

      <li><a id="list-your-place" href="#/listings/new" class="btn btn-special">List Your Place</a></li>
      <% end %>
    </ul>
    <% if !logged_in? %>
      <div class="main-nav">
        <ul>
            <li><a class="cd-signin" href="#0">Sign in</a></li>
            <li><a class="cd-signup" href="#0">Sign up</a></li>
        </ul>
      </div>
    <% end %>
  </div><!-- /.container-fluid -->
</nav>
