<div class="main-page-search">
  <form id="search_form">
    <div class="location-wrapper">
      <input type="text" id="location" class="tooltip"
             title="Type in San Francisco and select it to get started!"
             name="location" placeholder="Where do you want to go?">
      <p id="enter_location_error_message" class="bad hide">
      Please set location
      </p>
    </div>
    <input type="text" id="checkin" class="" name="checkin" placeholder="Check In">
    <input type="text" id="checkout" name="checkout" placeholder="Check Out">
    <div class="select select-large">
      <select id="guests" name="guests">
        <option value="1">1 Guest</option>
        <option value="2">2 Guests</option>
        <option value="3">3 Guests</option>
        <option value="4">4 Guests</option>
        <option value="5">5 Guests</option>
        <option value="6">6 Guests</option>
        <option value="7">7 Guests</option>
        <option value="8">8 Guests</option>
        <option value="9">9 Guests</option>
        <option value="10">10 Guests</option>
        <option value="11">11 Guests</option>
        <option value="12">12 Guests</option>
        <option value="13">13 Guests</option>
        <option value="14">14 Guests</option>
        <option value="15">15 Guests</option>
        <option value="16">16+ Guests</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary btn-large" id="submit_location">
      Search
    </button>
  </form>
</div>

<link href="/assets/bootstrap-select.min.css" rel="stylesheet" type="text/css">
<link href="/assets/datepicker.css" rel="stylesheet" type="text/css">
<link href="/assets/tooltipster.css" rel="stylesheet" type="text/css">
<script src="/assets/bootstrap-select.min"></script>
<script src="/assets/bootstrap-datepicker"></script>
<script src="/assets/jquery.tooltipster"></script>


<script>
  $(function(){


    $('.tooltip').tooltipster({
      timer:1300,
    })

    var mainSearchData = {
      checkin: null,
      checkout: null,
      location: null,
      guests: 1,
    }

    //so we can use it in other places
    window.initialSearchData = mainSearchData;

    $("select#guests").selectpicker();
    var placeSearch = document.getElementById("location")

    var autoComplete = new google.maps.places.Autocomplete(placeSearch);

    google.maps.event.addListener(autoComplete, "place_changed", function(){
      mainSearchData.location = autoComplete.getPlace();
    })
    //need to grab all the data, store it in window var then use it when starting up backbone
    $("button#submit_location").on("click", function(event){
      //grab all the main search Data in window object

      event.preventDefault();
      var $form_modal = $('.cd-user-modal'),
      $form_login = $form_modal.find('#cd-login'),
      $form_signup = $form_modal.find('#cd-signup'),
      $form_forgot_password = $form_modal.find('#cd-reset-password'),
      $form_modal_tab = $('.cd-switcher'),
      $tab_login = $form_modal_tab.children('li').eq(0).children('a'),
      $tab_signup = $form_modal_tab.children('li').eq(1).children('a'),
      $forgot_password_link = $form_login.find('.cd-form-bottom-message a'),
      $back_to_login_link = $form_forgot_password.find('.cd-form-bottom-message a')

      $form_modal.addClass('is-visible')

      $form_login.addClass('is-selected');
      $form_signup.removeClass('is-selected');
      $form_forgot_password.removeClass('is-selected');
      $tab_login.addClass('selected');
      $tab_signup.removeClass('selected');

      window.initialQueryString = "#checkin=" + (mainSearchData.checkin ? mainSearchData.checkin.valueOf() : "null") +
                                  "&checkout=" + (mainSearchData.checkout ? mainSearchData.checkout.valueOf() : "null") +
                                  "&lat=" + (mainSearchData.location ? mainSearchData.location.geometry.location.lat() : "null") +
                                  "&lng=" + (mainSearchData.location ? mainSearchData.location.geometry.location.lng() : "null") +
                                  "&guests=" + mainSearchData.guests

      $("#main-modal-login").attr("data-query", window.initialQueryString)
      $("#main-modal-signup").attr("data-query", window.initialQueryString)
    })

    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

    var checkin = $('#checkin').datepicker({
      onRender: function(date) {
        return date.valueOf() < now.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function(ev) {

      //need to trigger for checkin
      mainSearchData.checkin = ev.date
      if (ev.date.valueOf() > checkout.date.valueOf()) {
        var newDate = new Date(ev.date)
        newDate.setDate(newDate.getDate() + 1);
        checkout.setValue(newDate);
        mainSearchData.checkout = newDate
      }
      checkin.hide();
      $('#checkout')[0].focus();
    }.bind(this)).data('datepicker');
    var checkout = $('#checkout').datepicker({
      onRender: function(date) {
        return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function(ev) {

      checkout.hide();
      //need to trigger for checkout
      mainSearchData.checkout = ev.date
    }.bind(this)).data('datepicker');

    $("#guests").on("change", function(event){
      mainSearchData.guests = $(event.currentTarget).val();
    })
  })
</script>
