<div class="main-page-bottom">
  <h2>Relax for the weekend in the Pokemon World!</h2>
  <p>Discover new, inspiring places in the pokemon world!</p>
  <div class="main-page container">
    <div class="col-xs-4">
      <div class="col-xs-12 forest">
        <h2>Viridian Forest</h2>
      </div>
    </div>
    <div class="col-xs-4 ">
      <div class="col-xs-12 town">
        <h2>Pallet Town</h2>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="col-xs-12 city">
        <h2>Ecruteak City</h2>
      </div>
    </div>
  </div>
</div>
