<form action="<%= action_url %>"
      method="POST">
  <%= render "layouts/authenticity_token" %>
  <label for="user_email">E-mail</label>
  <input type="text" name="user[email]"
         <% if user %>
         value="<%= user.email %>"
         <% end %>
         id="user_email"
         placeholder="E-mail">

  <label for="user_password">Password</label>
  <input type="password" name="user[password]"
         id="user_password"
         placeholder="Password">
  <input type="submit" value="<%= submit_msg %>">
</form>
